/* Placeholder */
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    background-color: #200220;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

h1, h2, h3 {
    color: #9b59b6;
}

p {
    color: white;
}


input,
textarea {
    width: 100%;
    padding: 1rem;
    margin-top:1rem;
    margin-bottom:1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-family: inherit;
    font-size: 1rem;
}

.codeblock {
    display: none;
    color: #40b0b0;
    background-color: #200220;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

.response {
    display: none;
    background-color: #40b0b0;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

textarea:hover {
    border-left: 5px solid #9b59b6;
}

.container {
    margin: 0.5rem;
    flex: 1;
}

/* Navbar */
.nav {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem;
    background-color: black;
    color: #eee;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.nav a {
    margin-left: 1rem;
    transition: color 1s ease;
    color: #9b59b6;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav a:hover {
    color: #00ea5a;
    text-decoration: underline;
    transition: color 0.3 ease;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #9b59b6;
    cursor: pointer;
    margin-left: 1rem;
}

.base-btn {
    width: 100%;
    margin: 1px;
    padding: 0.75rem;
    background-color: #9b59b6;
    color: #00ffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s ease;
}

.base-btn:hover {
    color: black;
    background-color: #00ea5a;
    text-decoration: underline;
    transition: background-color 1s ease;
}

.issue {
    position: relative;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #9b59b6;
    border-radius: 5px;
}

.shown {
    display: flex;
}

/* Adjusting for mobile... */
@media (max-width:800px) {
    /* navbar toggle button */
    .nav-toggle {
        display: block;
    }

    .nav-left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        padding-top: 1rem;
    }

    .nav-links a {
        padding: 0.5rem 1rem;
        border-top: 1px solid #333;
    }

    .nav-links.nav-open {
        display:flex;
    }
}